.para1 {
    font-weight: bold;
    font-family: 'Poor Story';

}
    
.para2 {
    font-size: 24px;
    font-family: 'Spicy Rice';
}

.para3 {
    line-height: 50px;
    font-family: 'Open Sans Condensed', sans-serif;
}